*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
   background-color: #12162C;
}

.header-container{
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(to bottom, #121214, #131420, #12162C);
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Quicksand', sans-serif;
}

.Home{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
}

.textoFernando{
    margin-top: 190px;
    margin-left: 100px;
    font-size: 30px;
    line-height: 40px;
    font-weight: 600;
    transition: transform .3s;
    animation: animationhome .7s .3s backwards;
}

.Fernando{
    font-size: 42px;
    font-weight: 700;
    color: #A40EE4;
}

.fotoHome{
    margin-top: 100px;
    margin-right: 100px;
    cursor: pointer;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: linear-gradient(to right, #8257E6 0%, #A40EE4 92.32%);
    padding: 4px;
    transition: transform .3s;
    animation: animationfoto .7s .3s backwards;

}

.fotoHome:hover{
    transform: scale(1.1);
}

a {
    color: #828282;
    text-decoration: none;
    transition: 0.3s;
  }
  
a:hover {
    color: #fff;
  }
  
  
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: 700;
    background: #121214;
    height: 10vh;
  }

  
.nav-list {
    list-style: none;
    display: flex;
    transition: transform .3s;
    animation: animationnav .7s .2s backwards;
  }
  
.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
.mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }

  .hrnav{
    height: 0.1px;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    nav{
        border: none;
    }
    .nav-list {
    position: fixed;
    top: 0px;
    width: 100vw;
    height: auto;
    background: #121214;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(-150%);
    animation: navLinkFade;
    transition: transform 7s 0.3s ease-in backwards;
    z-index: 2;
  }
  .nav-list li {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5px;
    margin-top: 5px;
    opacity: 0;
    padding: 5px 0 0 0;
    
  }

  .nav-list li:first-of-type {
    padding-top: 30px;
  }

  .nav-list li:last-of-type {
    padding-bottom: 30px;
  }

  #inicio{
    margin-top: 0px;
  }
  .mobile-menu {
    display: block;
    margin-right: auto;
    margin-left: 10px;
    z-index: 3;
  }
}


.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}


@media only screen and (max-width: 1130px)
{
    .header-container{
        width: 100%;
        height: 100vh;
    }

    .Home{
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
    }
    
    .fotoHome{
        margin-right: 0px;
        margin-top: 50px;
    
    }
    .textoFernando{
        margin-top: 15px;
        margin-left: 0px;

    }
    nav ul li{
        text-align: center;
    }
    .navHome{
        justify-content: center;
        text-align: center;
    }
    .projetos{
        padding-right: 0px;
    }
    body::-webkit-scrollbar {
        display: none;             
      }
      body::-webkit-scrollbar-track {
        display: none;
      }
      
      body::-webkit-scrollbar-thumb {
        display: none;   
      }
}

main{
    width: 100%;
    height: 200vh;
    background-color: #12162C;
}

#sobremim-container{
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    transition: transform .3s;
    animation: animationsobremim .7s .6s backwards;
    padding-top: 50px;
}

#sobremim-container p{
    font-size: 18px;
    color: #828282;
    font-weight: 400;
    max-width: 600px;
    margin: 0 auto 0 auto;
    line-height: 32px;
    margin-top: 18px;
}

#sobremim-container h1{
    color: white;
    font-size: 32px;
    font-weight: 500;
    line-height: 32px;
}

#sobremim-container h2{
    color: white;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 20px;
}

#sobremim-container h3{
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 10px;
}

.h1formhobbies{
    margin-top: 50px;
}

#habilidades-container::before {
    content: '';
    display: block;
    height: 1px; 
    margin-top: -60px; 
}


#habilidades{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#habilidades div{
    width: 150px;
    height: 150px;
    background-color: #212121;
    text-align: center;
    border-radius: 30px 30px 0 0;
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(90deg, #8257E6 0%, #A40EE4 92.32%);
    border-image-slice: 1;
    cursor: pointer;
    margin: 50px 25px 0 25px;
    transition: 0.3s;
    
}

#habilidades div:hover{
    transform: scale(1.1);
}

.h1habilidades{
    text-align: center;
    color: white;
    font-size: 32px;
    font-weight: 500;
    line-height: 32px;
    margin-top: 140px;
    font-family: 'DM Sans', sans-serif;
}

#habilidades h1:not(#h1testedeusabilidade,#h1pesquisacomusuario,#h1sketch,#h1adobexd,#softskills,#hardskills,#h1resolucao,#atento,#h1perfilcriativo,#h1comunicacao){
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 18px;
    color: #8257e6;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
}

#h1sketch{
    font-size: 18px;
    color: #8257e6;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    margin-top: 16px;
}

#h1pesquisacomusuario{
    margin-top: 15px;
    margin-bottom: 6px;
    font-size: 18px;
    color: #8257e6;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
}

#h1testedeusabilidade{
    margin-top: 8px;
    font-size: 18px;
    color: #8257e6;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
}

.imgtestedeusabilidade{
    width: 85px;
    height: 85px;
    padding-bottom: 5px;
}

.imgadobexd{
    width: 68px;
}

.imgsketch{
    width: 105px;
    margin-left: 8px;
}

.imgscrum{
    width: 70px;
    margin-left: 12px;
}

.imgwireframe{
    width: 65px;
    margin-top: 4px;
}

.imgfluxograma{
    width: 70px;
}


#hardskills{
    font-family: 'DM Sans', sans-serif;
    font-size: 28px;
    font-weight: 400;
    margin-top: 50px;
}

#softskills{
    font-family: 'DM Sans', sans-serif;
    font-size: 28px;
    font-weight: 400;
    margin-top: 50px;
}

.imgmysql{
    width: 70px;
    height: 70px;
}

.imgprototipagem{
    width: 70px;
    height: 70px;
}

.imgresolucao{
    height: 70px;
    margin-right: 10px;
}

.imgcomunicacao{
    height: 60px;
    margin-left: 15px;
}

.imgequipe{
    width: 50px;
    height: 50px;
}

.imgatento{
    height: 65px;
}

.imgproatividade{
    width: 70px;
    height: 70px;
}

.imgcriativo{
    height: 60px;
}

.imgtesteab{
    width: 70px;
    height: 70px;
}

.imgpesquisa{
    width: 60px;
    height: 60px;
}

.imgphotoshop{
    width: 70px;
}


#h1resolucao{
    margin-top: 16px;
    margin-bottom: 2px;
    font-size: 18px;
    color: #8257e6;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
}

#atento{
    margin-top: 16px;
    margin-bottom: 2px;
    font-size: 18px;
    color: #8257e6;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
}

#h1comunicacao{
    margin-top: 16px;
    margin-bottom: 10px;
    font-size: 18px;
    color: #8257e6;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
}

#h1adobexd{
    font-size: 18px;
    color: #8257e6;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    margin-top: 16px;
    margin-bottom: 14px;
}

#h1perfilcriativo{
    font-size: 18px;
    color: #8257e6;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    margin-top: 16px;
    margin-bottom: 9px;
}


@keyframes animationfoto{
    from{
        opacity: 0; transform: translateX(-30px);}

    to{opacity: 1; transform: translateX(0)}
}
@keyframes animationhome{
    from{
        opacity: 0; transform: translateX(-30px);}

    to{opacity: 1; transform: translateX(0)}
}
@keyframes animationnav{
    from{
        opacity: 0; transform: translateY(-30px);}

    to{opacity: 1; transform: translateY(0)}
}
@keyframes animationsobremim{
    from{
        opacity: 0; transform: translateX(-30px);}

    to{opacity: 1; transform: translateX(0)}
}

#projetoscontainercerto{
    padding-top: 1px;
}

#projetos-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.h1projetos{
    text-align: center;
    color: white;
    font-size: 32px;
    font-weight: 500;
    line-height: 32px;
    margin-top: 150px;
    font-family: 'DM Sans', sans-serif;
}

.border-img{
    height: 250px;
    margin-top: 100px;
    margin-right: 25px;
    margin-left: 25px;
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(90deg, #8257E6 0%, #A40EE4 92.32%);
    border-image-slice: 1;
    opacity: 50%;
    transition: 0.3s;
    width: 450px;
    cursor: pointer;
}

.border-img:hover{
    transform: scale(1.2);
    opacity: 100%;
}

.projetocasa{
    text-align: center;
    text-align: center;
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    line-height: 32px;
    font-family: 'DM Sans', sans-serif;
}

.projetonlw{
    text-align: center;
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    line-height: 32px;
    font-family: 'DM Sans', sans-serif;
}

.projetonlw p{
    margin-top: 16px;
}

.projetoportfolio{
    text-align: center;
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    line-height: 32px;
    font-family: 'DM Sans', sans-serif;
}

.projetoportfolio p{
    margin-top: 16px;
}

.projetocasa p{
    margin-top: 16px;
}

.projetogoab{
    text-align: center;
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    line-height: 32px;
    font-family: 'DM Sans', sans-serif;
}

.projetogoab p{
    margin-top: 16px;
}

.projetogrecogum{
    text-align: center;
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    line-height: 32px;
    font-family: 'DM Sans', sans-serif;
}

.projetogrecogum p{
    margin-top:16px;
}

.iconesimg{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.iconeimg{
    width: 20px;
    margin-right: 2.5px;
    margin-left: 2.5px;
    margin-top: 5px;
}

/* Footer */

footer h1{
    text-align: center;
    color: white;
    font-size: 32px;
    font-weight: 500;
    line-height: 32px;
    font-family: 'DM Sans', sans-serif;
}

.footerdiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.footera{
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    margin: 100px 0px 100px 0px;
    transition: 0.3s;
}

.footera h1{
    font-size: 18px;
    font-weight: 600;
    margin-left: 80px;
    margin-right: 80px;
}

.footera p{
    font-size: 16px;
    font-weight: 500;
    color: #828282;
}

.footera img{
    background-color: #212121;
    padding: 15px;
    border-radius: 50%;
}

.footera:hover{
    transform: scale(1.1);
}
.footercontatos{
    margin-top: 100px;
}

/* Responsividade */

@media (max-width: 900px){
    .footera p{
        font-size: 12px;
        font-weight: 500;
    }
    .footera img{
        padding: 10px;
        width: 38px;
    }
    .footera h1{
        font-size: 14px;
        margin-left: 50px;
        margin-right: 50px;
    }
}
@media (max-width: 603px){
    .footera p{
        font-size: 10px;
        font-weight: 500;
    }
    .footera img{
        padding: 10px;
        width: 36px;
    }
    .footera h1{
        font-size: 12px;
        margin-left: 40px;
        margin-right: 40px;
    }
}
@media (max-width: 703px){
    .border-img{
        opacity: 100%;
        transform: none;
    }
    .fotoHome{
        width: 200px;
        height: 200px;
    }
    .textoFernando{
        font-size: 24px;
    }
    .Fernando{
        font-size: 36px;
    }
    .header-container{
        height: 68vh;
    }

    #sobremim-container p{
        margin-right: 30px;
        margin-left: 30px;
}
  

}

@media (max-width: 650px){
    .border-img{
        height: 200px;
        width: 400px;
        opacity: 100%;
    }
    #sobremim-container p{
        margin-right: 40px;
        margin-left: 40px;
}
    
}
@media (max-width: 450px){
    .border-img{
        height: 150px;
        width: 350px;
    }
    
    #sobremim-container p{
            margin-right: 40px;
            margin-left: 40px;
    }
    .footera h1{
        margin-right: 0px;
        margin-left: 0px;
    }
    .footera img{
        margin-right: 50px;
        margin-left: 50px;
    }
    .footera{
        margin: 50px 0px 50px 0px;
    }
    .footercontatos{
        margin-bottom: 50px;
    }
}

/* Scrollbar do Site */

body::-webkit-scrollbar {
    width: 14px;             
  }
  
  body::-webkit-scrollbar-track {
    background-image: linear-gradient(to bottom, #121214, #12162C);   
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #A40EE4;        

  }


/* Responsividade e menu hamburguer */

  @media (max-width: 1130px){ 
    .border-img{
    opacity: 100%;
    transform: none;
} 
a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
}

.Fernando::after{
 content: '|';
 margin-left: 5px;
 opacity: 1;
 animation: pisca .7s infinite;
}

@keyframes pisca{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

.Home p{
    font-size: 20px;
    color: #828282;
    font-weight: 500;
    font-family: 'DM Sans', sans-serif;
}

.formprevista{
    margin-left: 15px;
    margin-right: 15px;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    transition: background-color 0.3s, top 0.3s;
    z-index: 1000;
    background: transparent; 
}

nav.transparent {
    background: transparent;
}

nav.solid {
    background: #121214;
}

nav.hidden {
    top: -70px; 
}

nav ul {
    display: flex;
    justify-content: center; 
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff; 
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}

nav ul li a:hover {
    color: #A40EE4; 
}

.mobile-menu.active {
    position: fixed;
    top: 10px; 
    left: -5px; 
    z-index: 1001; 
}



/* Index2.html */

.header-container2{
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Quicksand', sans-serif;
}

.header-container2 p{
    color: #828282
  }

/* Home */

.Home2{
    display: contents;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
}

.Home2 h1{
    margin-top: 20px;
    font-size: 100px;
    line-height: 40px;
    font-weight: 600;
    transition: transform .3s;
    animation: animationhome .7s .3s backwards;
    margin-left: 100px;
    margin-bottom: 150px;
}

/* Responsividade Home2 */

@media (max-width: 800px) {
    .Home2 h1 {
      line-height: 1;
      max-width: 300px;
      margin-bottom: 100px;
    }
  }

.Home2 h2{
    font-size: 20px;
    margin-top: 150px;
    line-height: 40px;
    font-weight: 500;
    transition: transform .3s;
    animation: animationhome .7s .3s backwards;
    margin-left: 110px;
    color: #828282;
}

@media (max-width: 800px) {
    .Home2 h2 {
      margin-top: 100px;
    }
  }

  @media (max-width: 660px) {
    .Home2{
      text-align: center;
    }
    .Home2 h1{
      margin: auto auto 100px auto;
      font-size: 80px;
      padding-left: 0px;
    }
    .Home2 h2{
      margin: 100px auto auto auto;
      padding-left: 0px;
    }
  }

  .Home2 img {
    width: 100%;
    height: auto;
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }

/* Conteudo */

.Conteudo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 60px;
  }

  
  
  .coluna-direita {
    flex: 1;
    min-width: 300px;
    max-width: 200px;
    margin-left: 110px;
  }

  .coluna-esquerda{
    max-width: 800px;
    min-width: 300px;
    margin-left: 110px;
    flex: 1;
  }
  
  .coluna-esquerda p,
  .coluna-direita p {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.8;
    font-weight: 500;
  }
  
  .coluna-esquerda h1 {
    margin-bottom: 20px;
    font-size: 50px;
    line-height: 1.5;
    font-weight: 600;
  }
  @media (max-width: 436px){
    .coluna-esquerda h1{
      font-size: 40px;
    }
  }

  .coluna-direita h2{
    margin-top: 20px;
  }

  .coluna-esquerda a{
    color: #8257E6;
  }

  .coluna-esquerda a:hover{
    text-decoration: underline
  }

  /* Vamos começar pelo Básico */
  
  .Basico h2{
    margin-left: 110px;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .Basico p{
    flex: 1;
    min-width: 300px;
    max-width: 800px;
    margin-left: 110px;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.8;
    font-weight: 500;
  }

  /* Imagens */

  .segundaeterceiraimagem{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
    width: 100%;
    padding: 30px 40px 80px 40px;
    height: auto;
    box-sizing: border-box; 
    flex-wrap: wrap;     
  }

  .segundaeterceiraimagem img {
    width: 48%;
    height: auto;
    flex: 1 1 48%;
    margin: 1%;
  }

  /* Conteudo2 */

  .Conteudo2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .coluna-direita2 {
    flex: 1;
    min-width: 300px;
    max-width: 800px;
    margin-left: 100px;
    margin-right: 80px;
  }

  .coluna-esquerda2{
    max-width: 800px;
    min-width: 300px;
    margin-left: 80px;
    flex: 1;
  }
  
  .coluna-esquerda2 p,
  .coluna-direita2 p {
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 1.8;
    font-weight: 500;
  }

  .coluna-direita2 p{
    font-weight: 500;
  }

  .coluna-esquerda2 h2,
  .coluna-direita2 h2 {
    margin-bottom: 30px;
  }

  .coluna-esquerda2 p:not(:first-of-type,:last-of-type){
    padding-top: 36px;
  }

  .coluna-esquerda2 p:last-of-type{
    padding-top: 8px;
  }

  /* Antigo WebSite */

  .antigo-website h3{
    margin-left: 110px;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .antigo-website h2{
    margin-left: 110px;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .antigo-website p{
    flex: 1;
    min-width: 300px;
    max-width: 800px;
    margin-left: 110px;
    margin-bottom: 60px;
    font-size: 20px;
    line-height: 1.8;
    font-weight: 500;
  }

  .antigo-website img{    
        height: auto;      
        display: block;  
        max-width: 100%; 
  }


  /* Conteudo3 */

  .Conteudo3 {
    display: flex;
    justify-content: center;
    gap: 4%;
    flex-wrap: nowrap; /* NÃO quebrar as imagens para baixo */
    margin: 0px 0;
  }
  
  .coluna-esquerda3,
  .coluna-direita3 {
    width: 48%;
    box-sizing: border-box;
  }
  
  .coluna-esquerda3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .coluna-esquerda3 h3 {
    margin-bottom: 38px;
  }
  .coluna-esquerda3 h3 {
    margin-top: 0px;
    padding-top: 0px;
  }
  
  .coluna-esquerda3 img,
  .coluna-direita3 img {
    width: 100%;
    height: auto;
    display: block;
  }

  .coluna-esquerda3 img{
    padding-left: 60px;
  }

  .coluna-direita3 img{
    padding-right: 60px;
  }


  /* Responsividade: diminui proporcionalmente sem quebrar */
  @media (max-width: 600px) {
    .Conteudo3 {
      flex-wrap: wrap;
      text-align: center; /* Se a tela ficar MUITO pequena, aí sim quebra */
    }

    .coluna-esquerda3 img{
        padding-left: 0px;
      }
    
      .coluna-direita3 img{
        padding-right: 0px;
      }
    
    .coluna-esquerda3,
    .coluna-direita3 {
      width: 100%;
      max-width: 100%;
      padding: 0 20px 40px 20px;
    }
  
    .coluna-esquerda3 {
      align-items: center;
      text-align: center;
    }

    .Conteudo3 h3{
        margin-left: 0;
    }
  }
  
  /* Sexta Imagem */
  .sextaimagemgreco img{
        max-width: 100%;    
        height: auto;      
        display: block; 
        padding: 10px 20px 60px 20px;   
  }

  .sextaimagemgreco h3{
    margin-left: 110px;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  /* Conteudo4 */

  .insights{
    margin-left: 110px;
    margin-top: 30px;
  }

  .Conteudo4{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .corconteudo {
    width: 300px;
    height: 300px;
    background-color: #212121;
    border-radius: 30px 30px 0 0;
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(90deg, #8257E6 0%, #A40EE4 92.32%);
    border-image-slice: 1;
    cursor: pointer;
    margin: 50px 25px 0 25px;
    transition: 0.3s;
    line-height: 1.8;
    padding: 20px 20px 20px 30px;
    display: flex;
    flex-direction: column;
  }
  
  .corconteudo h1 {
    font-size: 20px;
    font-weight: 600;
    margin-top: auto;
  }

  .corconteudo:hover{
    transform: scale(1.1);
}

  .corconteudo h2{
    font-size: 18px;
    font-weight: 500;
    color: #8257E6;
  }

  .corconteudo h3{
    font-size: 12px;
    font-weight: 500;
    opacity: 75%;
  }

  .corconteudo h1{
    font-size: 20px;
    font-weight: 600;
    padding-top: 50px;
  }


  /* Conteudo5 */

  .Conteudo5 h2{
    margin-top: 90px;
    margin-left: 110px;
  }

  .Conteudo5 h3{
    margin-left: 110px;
    margin-bottom: 40px;
  }

  .Conteudo5 p{
    flex: 1;
    min-width: 300px;
    max-width: 800px;
    font-size: 20px;
    line-height: 1.8;
    font-weight: 500;
    margin-left: 110px;
    margin-top: 30px;
    margin-bottom: 80px;
  }
  
  .Conteudo5 img {
    display: block;
    margin: 0 auto;
    max-width: 100%; /* opcional, se quiser responsiva */
  }
  
  /* Imagens Restantes */

.imagens-restantes{
    justify-content: center;
}

.imagens-restantes img {
    display: block;
    margin: 60px auto;
    max-width: 1160px;
    width: 100%;
    height: auto;
  }

  .imagens-restantes2{
    justify-content: center;
}

.imagens-restantes2 img {
    display: block;
    margin: 0px auto;
    width: 100%;
    height: auto;
  }

  .imagens-restantes2 img:last-of-type{
    margin-top: 60px;
  }


  .ImagemCelularGreco p{
    margin-bottom: 0px;
  }
 

  /* Responsividade Geral Index2.html */

  /* Estilo responsivo */

  @media (max-width: 1210px) {
    .coluna-esquerda2 p:not(:first-of-type):not(:last-of-type) {
      padding-top: 10px;
      padding-bottom: 0px;
    }
  
    .coluna-esquerda2 p:first-of-type {
      padding-bottom: 30px;
      margin-bottom: 0;
    }
  
    .coluna-esquerda2 p:nth-of-type(2) {
      margin-bottom: 66px; /* ajuste para alinhar com último da direita */
    }

    .coluna-esquerda2 p:nth-of-type(3) {
        margin-bottom: 46px; /* ajuste para alinhar com último da direita */
      }
  
    .coluna-esquerda2 p:last-of-type {
      padding-top: 0;
      margin-top: 0;
      margin-bottom: 80px; /* espaço abaixo da seção */
    }
  }

  @media (max-width: 1160px) {
    .coluna-esquerda2 p:first-of-type {
      padding-bottom: 30px;
      margin-bottom: 0;
    }
  
    .coluna-esquerda2 p:nth-of-type(2) {
      margin-bottom: 30px; 
    }

    .coluna-esquerda2 p:nth-of-type(3) {
        margin-bottom: 46px; 
      }
  
    }
  
    @media (max-width: 1028px) {
        .coluna-esquerda2 p:first-of-type {
          padding-bottom: 30px;
          margin-bottom: 36px;
        }
      
        .coluna-esquerda2 p:nth-of-type(2) {
          margin-bottom: 30px; 
        }
    
        .coluna-esquerda2 p:nth-of-type(3) {
            margin-bottom: 46px; 
          }
      
        }

        @media (max-width: 1016px) {
            .coluna-esquerda2 p:nth-of-type(2) {
              margin-bottom: 66px; 
            }
        
            .coluna-esquerda2 p:nth-of-type(3) {
                margin-bottom: 46px; 
              }
          
            }

            @media (max-width: 960px) {
                .coluna-esquerda h1,
                .coluna-esquerda h2,
                .coluna-esquerda h3,
                .coluna-esquerda p,
                .coluna-direita h1,
                .coluna-direita h2,
                .coluna-direita h3,
                .coluna-direita p,
                .Basico h2,
                .Basico p,
                .Conteudo2 h2,
                .Conteudo2 p,
                .antigo-website h2,
                .antigo-website h3,
                .antigo-website p,
                .sextaimagemgreco h3,
                .insights,
                .Conteudo5 h2,
                .Conteudo5 h3,
                .Conteudo5 p {
                  margin-left: 20px !important;
                  margin-right: 20px !important;
                  max-width: 100% !important;
                  text-align: center;
                }
              }
            
              @media (max-width: 960px) {
                .Conteudo{
                  flex-direction: column;
                  align-items: center;
                }
              
                .coluna-esquerda,
                .coluna-direita {
                  margin-left: 0 !important;
                  margin-right: 0 !important;
                  max-width: 90% !important;
                }
              
                .coluna-esquerda h1{
                  text-align: center;
                }
              }
            
              @media (max-width: 960px) {
                .Conteudo2 {
                  flex-direction: column;
                  align-items: center;
                }
            
                .coluna-esquerda2,
                .coluna-direita2 {
                  margin-left: 0 !important;
                  margin-right: 0 !important;
                  max-width: 90% !important;
                }
              
                .coluna-esquerda2 h2,
                .coluna-direita2 h2 {
                  text-align: center;
                }
            
                .coluna-esquerda2 p{
                    padding-top: 0px;
                    margin: 0px;
                }
            
                .coluna-esquerda2 p:last-of-type{
                    margin-top: 30px;
                    margin-bottom: 80px;
                }

                .coluna-esquerda2 p:nth-of-type(2) {
                    margin-bottom: 30px; 
                  }
              
                  .coluna-esquerda2 p:nth-of-type(3) {
                      margin-bottom: 46px; 
                    }

                    .coluna-esquerda2 p:first-of-type {
                        padding-bottom: 30px;
                        margin-bottom: 0;
                      }
              }


  .imagem-portfolio{
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(90deg, #8257E6 0%, #A40EE4 92.32%);
    border-image-slice: 1;
  }


  /* Conteudo6 */

  .Conteudo6 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0px;
    margin-top: 60px;
  }

  .coluna-direita6 {
    flex: 1;
    min-width: 300px;
    max-width: 200px;
    margin-left: 0px;
  }

  .coluna-esquerda6 {
    max-width: 800px;
    min-width: 300px;
    margin-left: 110px;
    flex: 1;
  }
  
  .imagem-wireframe-portfolio{
    width: 300px;
    height: auto;
    max-width: 100%;
  }

 
  
  
 

  





